<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Reminder</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body style="background-color:#64c3f3">
    <div style =  "margin-top: 50px;" class = "ui container">

    <h1 class = "ui center aligned header">Personal Reminder</h1>
   
<!-- textboxes for all the different fields -->

    <form class = "ui form" action="/add" method = "post">
        <div class = "field">
            <label for="title">Reminder name</label>
            <input type="text" name="title" placeholder="Enter task...">
            <br>
            

        </div>


        <div class = "field">
            <label for="name">First and last name?</label>
            <input type="text" name="name" placeholder="Enter full name...">
            <br>
            

        </div>


  
        <div class = "field">
            <label for="date">When would you like to be notified?</label>
            <input type="datetime-local" name="date" placeholder="Enter date and time...">
            <br>
            

        </div>


           
        <div class = "field">
            <label for="phone">Contact Information</label>
            <input type="tel" name="phone" placeholder="Enter your phone number here...">
            <br>
        </div>

        <div class = "field">
            <label for="carrier">Phone Carrier</label>
            <input type="text" name="carrier" placeholder="Enter your phone carrier...">
            <br> <br>
            <button class = "ui blue button" type="submit">Add</button>
        </div>
    </form>

    <a class = "ui right floated basic red button" href="/logout">Logout</a>
    
    <!-- for loop for update status -->

    <h1 class = "ui center aligned header">Currently Scheduled</h1>
    
    {% for reminder in all_reminders %}
    <div class="ui segment">
        <p class="ui big header"> {{ reminder.title }} </p> 
        <p class="ui big right aligned header"> {{ reminder.date }} </p>

        {% if reminder.complete == False %}
            <span class = "ui gray label">Not Completed</span>
        {% else %}
            <span class = "ui green label">Completed</span>
        {% endif %}

        <a class = "ui blue button" href="/update/{{ reminder.id }}">Status</a>
        <a class = "ui red button" href="/delete/{{ reminder.id }}">Delete</a>
    </div>
    {% endfor %}
</div>
</body>
</html>