<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <style>
        body, html {
    margin: 0;
    padding: 0;
    }
        .container {
            display: flex;
            justify-content: center; 
            align-items: center; 
            background: linear-gradient(blue,pink);
        } 
    </style>
</head>
<body class = "container">
    <h1 class="ui green header">Login to your Account</h1>
    <form class = "ui form"action="#" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <br> <br>
    <button class = "mini ui teal button" type="submit">Submit</button>
    </form>

    {% if current_user.is_authenticated %}
    <!-- <h1 class="ui green header">You are logged in</h1> -->
    <meta http-equiv="refresh" content="0; URL=http://127.0.0.1:5000/base" />
    {% endif %}

    {% if login_error %}
    <h1 class="ui red header">Invalid username or password. Please try again or register for a new account.</h1>
    {% endif %}
</body>
</html>
